main.about-me > h1 + h2,
main.about-me > h2 + p,
main.about-me > h2 + div > .academics:first-of-type > h4,
main.about-me > h2 + div > h4,
main.about-me .additional-training > .MuiStack-root > h4,
main.about-me div > p {
  margin-top: 0;
}

main.about-me img.grades {
  max-width: 100%;
  border-radius: 4px;
}

main.about-me span.tech-icon, main.about-me svg.tech-icon {
  width: 64px;
  height: 64px;
}

main.about-me img.tech-icon {
  height: 64px;
}

main.about-me .tech-icon-white > svg > path,
main.about-me svg.tech-icon-dot-net > path:first-of-type,
main.about-me svg.tech-icon-sqlserver > path:last-of-type,
main.about-me .tech-icon-cypress > svg > path:nth-of-type(3),
main.about-me .tech-icon-cypress > svg > path:nth-of-type(4),
main.about-me svg.tech-icon-sonarqube > path:first-of-type {
  fill: white;
}

main.about-me .tech-icon-md > svg > path:first-of-type {
  fill: none;
  stroke: white;
}

main.about-me div > h4, main.about-me div.social-buttons {
  margin-bottom: 2px;
}

main.about-me .academics > div > img, main.about-me .additional-training > div > img, main.about-me .experience > div > img {
  width: 24px;
  height: 24px;
  margin-right: 0.25em;
}

main.about-me .academics:not(:last-child) p,
main.about-me .additional-training p,
main.about-me .experience p,
main.about-me p.relevant-links {
  margin-bottom: 0;
}

main.about-me ul {
  margin-top: 0.5em;
  padding-inline-start: 20px;
}

main.about-me .lang-div span.fi {
  margin-right: 0.25rem;
}

main.about-me > .swiper.swiper-hobbies {
  margin: 0;
  z-index: 0;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: white;
}

main.about-me > .swiper-hobbies, main.about-me > .swiper-hobbies .swiper-slide > img {
  width: 990px;
  max-width: 100%;
}

main.about-me > .swiper-hobbies .swiper-slide > h4 {
  position: absolute;
  color: white;
  margin: 0;
  padding: 8px;
}

main.about-me > .swiper-hobbies .swiper-slide > img {
  border-radius: 4px;
}

@media (max-width: 814px) {
  main.about-me > .swiper-hobbies .swiper-slide:last-of-type > h4 {
    background-color: rgba(0,0,0,0.5);
  }
}

@media (max-width: 599px) {
  main.about-me span.tech-icon, main.about-me svg.tech-icon {
    width: 48px;
    height: 48px;
  }
  
  main.about-me img.tech-icon {
    height: 48px;
  }
}