img.grades {
  max-width: 100%;
}

div > h4 {
  margin-bottom: 0;
}

div > p {
  margin-top: 0;
}

.academics > div > img, .additional-training > div > img, .experience > div > img {
  width: 26px;
  height: 26px;
  margin-right: 0.25em;
}

.academics:not(:last-child) p, .additional-training p, .experience p {
  margin-bottom: 0;
}

ul {
  margin-top: 0.5em;
  padding-inline-start: 20px;
}

.additional-training > p, .experience > p {
  margin-bottom: 0;
}

p.relevant-links {
  margin-bottom: 0.5em;
}

div.relevant-links {
  margin-bottom: 1em;
}

div.d-flex > a {
  align-self: center;
}

.lang-div span.fi {
  margin-right: 0.25rem;
}