main.about-me img.grades {
  max-width: 100%;
}

main.about-me div > h4 {
  margin-bottom: 2px;
}

main.about-me div > p {
  margin-top: 0;
}

main.about-me .academics > div > img, main.about-me .additional-training > div > img, main.about-me .experience > div > img {
  width: 26px;
  height: 26px;
  margin-right: 0.25em;
}

main.about-me .academics:not(:last-child) p, main.about-me .additional-training p, main.about-me .experience p {
  margin-bottom: 0;
}

main.about-me ul {
  margin-top: 0.5em;
  padding-inline-start: 20px;
}

main.about-me .additional-training > p, main.about-me .experience > p {
  margin-bottom: 0;
}

main.about-me p.relevant-links {
  margin-bottom: 0;
}

main.about-me main.about-me div.social-buttons {
  margin-bottom: 2px;
}

main.about-me div.d-flex > a {
  align-self: center;
}

main.about-me .lang-div span.fi {
  margin-right: 0.25rem;
}