main.home > .container {
  align-self: center;
  flex-direction: column;
}

main.home .top-container {
  margin-bottom: 2em;
  gap: 64px;
}

main.home .top-container > div {
  flex-grow: 1;
}

main.home .top-container h1 {
  margin-bottom: 0.75rem;
}

main.home .top-container h2, main.home .top-container p {
  margin-top: 0;
}

main.home .top-container h2.d-flex {
  flex-direction: column;
}

main.home .top-container p, main.home div.MuiDivider-root {
  margin-bottom: 0.5em;
}

main.home .top-container img.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

main.home .MuiSnackbar-root.initial-message .MuiSnackbarContent-root {
  flex-wrap: nowrap;
}

/* Safari 7.1+ */
_::-webkit-full-page-media, _:future, main.home div.featured-projects div.MuiCard-root {
  max-width: 270px;
}

@media (max-width: 849px) {
  main.home .top-container {
    gap: 32px;
  }
}

@media (max-width: 680px) {
  main.home .container > .top-container {
    flex-direction: column-reverse;
    margin-bottom: 0.5em;
    gap: 1em;
  }

  main.home .top-container img.profile-pic {
    width: 12em;
    height: 12em;
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  main.home div.featured-projects div.MuiCard-root {
    margin-left: auto;
    margin-right: auto;
    max-width: 345px;
  }
}

@media (max-width: 349px) {
  main.home h1 {
    font-size: 3em;
  }

  main.home h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 334px) {
  main.home h1 {
    font-size: 2.8em;
  }

  main.home h2 {
    font-size: 1.3em;
  }
}