main.portfolio {
  padding-bottom: 0;
}

main.portfolio > .top-container > p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

main.portfolio > .top-container > .github-container {
  display: inline-flex;
  padding: 0.75rem;
  align-items: center;
  background-color: #f6f8fa;
  border: 1px solid #d1d9e0;
  border-radius: 6px;
  text-decoration: none;
}

main.portfolio > .top-container > .github-container:hover {
  background-color: #eff2f5;
  border-color: #d1d9e0;
  transition-duration: .1s;
}

main.portfolio > .top-container > .github-container > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #1f232826;
  margin-right: 0.5em;
}

main.portfolio > .top-container > .github-container > .gh-username {
  font-weight: bold;
}

main.portfolio > h2:first-of-type {
  margin-top: 1rem;
}

main.portfolio > h2:nth-of-type(2) {
  margin-top: 0;
}

main.portfolio > .swiper {
  max-width: 1081px;
  padding: 0 3px;
  padding-bottom: 35px;
  margin: 0;
  margin-left: -1.5px;
}

main.portfolio > .swiper .swiper-slide {
  height: auto;
}

main.portfolio > .swiper > .swiper-pagination {
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

/* Safari 7.1+ */
_::-webkit-full-page-media, _:future, main.portfolio > .swiper > .swiper-pagination {
  min-width: 250px;
}

@media (max-width: 1023px) {
  main.portfolio > .swiper-projects, main.portfolio > .swiper-gp {
    max-width: 710px;
    margin: 0 auto;
  }
}

@media (max-width: 689px) {
  main.portfolio > .swiper-projects, main.portfolio > .swiper-gp {
    max-width: 345px;
  }
}

@media (max-width: 426px) {
  main.portfolio > .swiper {
    margin: 0;
    margin-left: -1.5px;
  }

  main.portfolio > .top-container > .github-container {
    display: flex;
  }
}