.project-type {
  flex-direction: row;
  margin-left: auto;
}

.project-type > div:first-child {
  margin-right: 4px;
}

.project-persons {
  margin-left: auto!important;
  margin-right: 8px;
  background-color: transparent;
  cursor: auto;
}

div.MuiCardActions-root a:hover {
  color: #1976d2;
}

/* Estilos scroller */

.scroller {
  max-width: max-content;
}

.scroller-inner {
  gap: 0.25rem;
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.125rem));
  }
}