.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.MuiToolbar-root a:hover {
  opacity: 0.8;
}

div.social-buttons > a {
  color: inherit;
}

div.social-buttons > a:first-child {
  margin-left: -11px;
}