.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

div.social-buttons > a {
  color: inherit;
}

.confetti-emoji {
  font-size: 1rem;
}

@media (max-width: 599px) {
  .container {
    padding: 1rem;
  }
}