html {
  min-height: 100%; /* Fallback CSS for IE 4-6 and older browsers. Note: Without this setting, body below cannot achieve 100% height. */
  min-height: 100vh;/* Overrides 100% height in modern HTML5 browsers and uses the viewport's height. Only works in modern HTML5 browsers */
}

body, #root {
  height: auto; /* Allows content to grow beyond the page without overflow */
  width: auto; /* Allows content to grow beyond the page without overflow */
  min-height: 100%; /* Starts web page with 100% height. Fallback for IE 4-6 and older browsers */
  min-height: 100vh;/* Starts web page with 100% height. Uses the viewport's height. Only works in modern HTML5 browsers */
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  div.MuiDivider-root > span {
    color: rgba(0, 0, 0, 0.6);
  }
}

@media (prefers-color-scheme: dark) {
  hr.MuiDivider-root {
    border-color: inherit;
    opacity: 0.6;
  }

  div.MuiDivider-root::before, div.MuiDivider-root::after {
    border-color: rgba(255, 255, 255, 0.87)!important;
    opacity: 0.6;
  }
}
