html {
  min-height: 100%; /* Fallback CSS for IE 4-6 and older browsers. Note: Without this setting, body below cannot achieve 100% height. */
  min-height: 100vh;/* Overrides 100% height in modern HTML5 browsers and uses the viewport's height. Only works in modern HTML5 browsers */
}

body, #root {
  height: auto; /* Allows content to grow beyond the page without overflow */
  width: auto; /* Allows content to grow beyond the page without overflow */
  min-height: 100%; /* Starts web page with 100% height. Fallback for IE 4-6 and older browsers */
  min-height: 100vh;/* Starts web page with 100% height. Uses the viewport's height. Only works in modern HTML5 browsers */
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 10px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body.mode-light .MuiToolbar-root a:hover {
  opacity: 0.8;
}

body.mode-light div.MuiDivider-root > span {
  color: rgba(0, 0, 0, 0.6);
}

body.mode-dark div.MuiDivider-root > span {
  color: rgba(255, 255, 255, 0.8);
}

body.mode-dark hr.MuiDivider-root {
  border-color: inherit;
  opacity: 0.6;
}

body.mode-dark div.MuiDivider-root::before, body.mode-dark div.MuiDivider-root::after {
  border-color: rgba(255, 255, 255, 0.87);
  opacity: 0.6;
}

body.mode-light .swiper {
  --swiper-pagination-color: #1976d2;
}

body.mode-dark .swiper {
  --swiper-pagination-color: #90caf9;
  --swiper-pagination-bullet-inactive-color: white;
}